html,body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    background: #f5f5f5;
    color: #000
}

body {
    margin: 0;
}

#mc_embed_signup {
    background: #f5f5f5;
    font: 14px Helvetica,Arial,sans-serif;
    float: right;
}

.ui.centered.header {
    margin-top: 1em;
}

.site-logo {
    width: 300px;
    float: left;
}

.subbody.ui.two.column.stackable.centered.grid {
    margin-top: 8em;
}

.angled1 {
    background: white;
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(0% 0%, 0% 10%, 30% 1600px, 0% 1600px);
}

.angled2 {
    background: #fe9915;
    position: absolute;
    height: 100%;
    width: 100%;
    clip-path: polygon(0% 0%, 1600px 0%, 20% 0%, 0% 50%);
}